<% layout("/layouts/boilerplate") %>
<body>
    <br>
    <div class="heading offset-2">
    <h2>Create a New Listing</h2>
    </div>

    <form action="/listings" method="post" class="needs-validation offset-2 col-8" novalidate>
        <div class="mb-2">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" placeholder="Enter Title" class="form-control" required>
        <div class="valid-feedback">Title looks good!</div>
         <div class="invalid-feedback">Title required</div>
        </div>
    
        <div  class="mb-2">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="description"  class="form-control" ></textarea>
            <div class="invalid-feedback">Please enter description</div>
        </div>
        
        <div class="pr-lo">
        <div  class="mb-2 col-3 offset-0">
             <label for="price" class="form-label">Price</label> 
            <input  name="price" placeholder="Enter Price"   class="form-control">
            <div class="invalid-feedback">Please enter a valid price</div>
        </div>
       
        
        <div  class="mb-2 col-8 offset-1">
             <label for="location" class="form-label">Location</label>
            <input type="text" name="location" placeholder="Enter location" class="form-control">
             <div class="invalid-feedback">Please enter location</div>
        </div>
        </div>
        
       
        <div  class="mb-2">
             <label for="Country" class="form-label">Country</label>
            <input type="text" name="country" placeholder="Enter Country"   class="form-control">
             <div class="invalid-feedback">Please enter Country name</div>
        </div>
        
       
        <div  class="mb-2">
             <label for="image" class="form-label">Image</label> 
            <input type="text" name="image" placeholder="Enter image/URL"  class="form-control">
            
        </div>

        <button class="btn btn-dark" style="background: red; border: none;">Add</button>
        <br><br>
    </form>
    
</body>
